<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="/terms">Terms</a><br />
        <a href="/privacy">Privacy</a><br />
        <a href="/developers">Developers</a><br />
        <a href="https://donorbox.org/baseline" target="_blank">Donate</a><br />
        <a href="/blog">Blog</a>
        <p>Copyright baseline health. <br />Contact us at hello [at] getbaseline [dot] app.</p>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
