<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.url == "/" %}
    <meta property="twitter:site" content="@getbaselineapp" />
    <meta property="twitter:app:id:iphone" content="{{ site.ios_app_id }}" />
    <meta property="twitter:app:id:ipad" content="{{ site.ios_app_id }}" />
    <meta property="twitter:app:id:googleplay" content="app.getbaseline.baseline" />
    <meta property="twitter:description" content="{{ site.description }}" />
    {%- seo title=false -%}
    <title>Home | baseline</title>
    <meta property="og:title" content="baseline: mood journaling" />
    <meta property="twitter:title" content="baseline: mood journaling" />
  {% else %}
    {%- seo -%}
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon shortcut" href="/favicon.ico" />

  <meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}" />

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5BVWXFHD');</script>

  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" />
  <noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" crossorigin="anonymous" />
  </noscript>
  
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </noscript>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js" defer></script>
  <script src="/assets/js/lazysizes.min.js" async></script>
  
  {%- include custom-head.html -%}
</head>
