---
layout: base
---

<div class="blog-home">
  <h1 class="page-heading">Blog</h1>

  {{ content }}

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="blog-grid">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <div class="post-preview">
        <img class="post-preview-image" src="{{ post.image }}" alt="Post image" class="post-image" />
        <h3 class="post-preview-heading">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span style="grid-area: date;" class="post-meta">{{ post.date | date: date_format }}</span>
        <p class="post-preview-description">{{ post.description }}</p>
      </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
