---
layout: base
---
<div class="home-container">
    <div class="home-top">
        <div class="home-left">
            <img class="phoneScreenshot" src="/assets/summary-iphone.webp" alt="baseline summary screen" fetchPriority="high" />
        </div>
        <div class="home-right">
            <h1 id="landing-title">
                take <b><i>charge</i></b> of 
                <br class="heading-break" />
                your mental health</h1>
            <p>Start journaling and mood tracking with baseline today.</p>
            <p>100% free and private.</p>
            <div class="downloadButtonsContainer">
                {% include install-buttons.html %}
                <p>Or, use the <a tabindex="0" target="_self" class="fake-link pointer" id="webLink">web version</a> from a computer!</p>
                <p>
                    We're a 501(c)(3) nonprofit.
                    <a href="https://donorbox.com/baseline" target="_blank" rel="noreferrer" class="fake-link pointer">Donate today!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="home-features">
        <div class="text-center home-titles">
            <h1 class="type-header" id="type-header">Want to <span id="type-container"></span></h1>
            <h1><b>baseline can help.</b></h1>
        </div>

        <div class="features">
            {% for feature in site.features %} {% if feature.title %}
            <div class="feature">
                <div>
                    <span class="fa-stack fa-1x">
                        <i class="iconBack fas fa-circle fa-stack-2x"></i>
                        <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
                    </span>
                </div>
                <div class="featureText">
                    <h2>{{ feature.title }}</h2>
                    <p>{{ feature.description }}</p>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>

    <div class="text-center">
        <h1 class="testimonials-header">Don't just take our word for it.</h1>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for quote in page.quotes %}
                <div class="swiper-slide">
                    <i class="fa-solid fa-quote-right"></i>
                    <p class="quote-quote">{{ quote.quote }}</p>
                    <p class="quote-author">{{ quote.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-nav">
            <span class="name-disclaimer">Names changed for privacy.</span>
            <div id="swiper-prev">
                <span class="fa-stack fa-1x">
                    <i class="iconBack fas fa-circle fa-stack-2x"></i>
                    <i class="iconTop fas fa-chevron-left fa-stack-1x"></i>
                </span>
            </div>
            <div id="swiper-next">
                <span class="fa-stack fa-1x">
                    <i class="iconBack fas fa-circle fa-stack-2x"></i>
                    <i class="iconTop fas fa-chevron-right fa-stack-1x"></i>
                </span>
            </div>
        </div>

        <div class="downloadButtonsContainer download-two">
            <h2>Try baseline today.</h2>
            {% include install-buttons.html %}
        </div>
    </div>

    <div class="large-feature-grid">
        <div class="phone">
            <img class="phoneScreenshot lazyload" data-src="/assets/graph-iphone.webp" alt="baseline summary screen" />
        </div>
        <div class="text">
            <h1>Perfect for data lovers.</h1>
            <p>
                Whether you love graphs, or are on a quest to quantify every part of your life, 
                baseline is for you. With interactive graphs for everything 
                from average mood to week-to-week stress, you'll always have a clear view into
                what's going on in your head.
            </p>
            <p>
                Plus, with customizable CSV and JSON data export, your data is yours to keep and use.
            </p>
        </div>
    </div>

    <div class="large-feature-grid right-focus">
        <div class="phone">
            <img class="phoneScreenshot lazyload" data-src="/assets/log-iphone.webp" alt="baseline summary screen" />
        </div>
        <div class="text">
            <h1>A better way to journal.</h1>
            <p>
                No more worrying about whether you're feeling "good" or just "okay" (whatever that means).
                We track mood on a simple -5 to 5 scale &mdash; and by tracking whether that's below, at, 
                or above average, we tune the scale to match you, not the other way around.
            </p>
        </div>
    </div>

    <div class="downloadButtonsContainer download-three text-center">
        <h2>Ready to get started?</h2>
        {% include install-buttons.html %}
    </div>
</div>

<script src="assets/js/ua-parser.min.js"></script>
<script src="assets/js/murmurhash3_gc.js"></script>
<script>
    var utm_source = "web";
    var utm_campaign = document.referrer || "web";

    function fingerprint() {
        let fingerprint = "";
        const ua = new UAParser().getResult();
        fingerprint += `${ua.os.name}${ua.os.version}${ua.device.vendor}${ua.device.model}${ua.device.type}`;
        fingerprint += `${navigator.language}${navigator.platform}${navigator.maxTouchPoints}`;
        fingerprint += `${screen.width}${screen.height}`;
        fingerprint += `|${new Date().getTimezoneOffset()}`;
        const hash = murmurhash3_32_gc(fingerprint, 921743158);
        return hash;
    }

    function sendInstallRequest() {
        try {
            if (dataLayer) {
                dataLayer.push({ "event": "install_started" });
            }

            if (posthog) {
                posthog.capture("Install Started");
            }
            
            if (localStorage.getItem("install_started")) {
                return;
            }

            localStorage.setItem("install_started", true);
            fetch("https://api.getbaseline.app/analytics/beacon", {
                method: "POST",
                keepalive: true,
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    fingerprint: fingerprint(),
                    state: "install_started",
                    utm_source,
                    utm_campaign
                })
            });
        } catch (e) {
            console.error(e);
        }
    }

    function ready() {
        // Set up page elements
        new Swiper(".swiper", {
            loop: true,
            slidesPerView: "auto",
            spaceBetween: 10,
            centeredSlides: true,
            navigation: {
                nextEl: "#swiper-next",
                prevEl: "#swiper-prev",
            },
        });

        new Typed("#type-container", {
            strings: ["start working on your mental health?", "track your mood over time?", "start a new medication?", "build a journaling habit?"],
            typeSpeed: 50,
            loop: true,
            backDelay: 1500,
        });

        const typeHeader = document.getElementById("type-header");
        let minHeight = 0;
        setInterval(() => {
            let height = typeHeader.getBoundingClientRect().height;
            if (height > minHeight) {
                minHeight = height;
                typeHeader.style.minHeight = `${minHeight}px`;
            }
        }, 1000);

        // Set up events
        const params = new URLSearchParams(location.search);
        if (params.get("utm_source") && params.get("utm_campaign")) {
            utm_source = params.get("utm_source");
            utm_campaign = params.get("utm_campaign");
        }

        const lssource = localStorage.getItem("utm_source");
        const lscampaign = localStorage.getItem("utm_campaign");
        if (lssource && lscampaign) {
            utm_source = lssource;
            utm_campaign = lscampaign;
        }

        for (const el of document.getElementsByClassName("appStoreLink")) {
            el.onclick = () => {
                sendInstallRequest();
                window.open(`https://apps.apple.com/us/app/baseline-mood-journaling/id1621132298`);
            };
        }

        for (const el of document.getElementsByClassName("playStoreLink")) {
            el.onclick = () => {
                sendInstallRequest();
                window.open(`https://play.google.com/store/apps/details?id=app.getbaseline.baseline`);
            };
        }

        document.getElementById("webLink").onclick = () => {
            sendInstallRequest();
            window.open(`https://web.getbaseline.app`);
        };
    
        if (localStorage.getItem("visited")) {
            return;
        }

        localStorage.setItem("visited", true);
        fetch("https://api.getbaseline.app/analytics/beacon", {
            method: "POST",
            keepalive: true,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                fingerprint: fingerprint(),
                state: "visited",
                utm_source,
                utm_campaign
            })
        });
    }
    
    if (document.readyState !== 'loading') {
        ready();
    } else {
        document.addEventListener("DOMContentLoaded", ready);
    }

    posthog.onFeatureFlags(() => {
        
    });
</script>
